img {
    max-height: 100%;
    object-fit: scale-down;
}

.figure-row {
    display: flex;
    justify-content: center;
}

.figure {
    align-items: center;
    display: flex;
    flex-flow: column;
}

.figure-post-header img {
    height: 128px;
}

.figure-content img {
    height: 300px;
}

.figure figcaption {
    text-align: center;
}

.img-profile {
    border-radius: 125px;
    display: block;
    margin: auto;
    width: 200px;
}

@media (max-width: 1024px) {
    .figure-row {
        flex-flow: column nowrap;
    }
}