img {
    max-height: 100%;
    object-fit: scale-down;
}

/* Figures inside posts */

.figure-row {
    display: flex;
    justify-content: center;
}

.figure {
    align-items: center;
    display: flex;
    flex-flow: column;
}

.figure-post-header img {
    height: 128px;
}

.figure-content img {
    height: 300px;
}

.figure figcaption {
    text-align: center;
}

.img-profile {
    border-radius: 125px;
    display: block;
    margin: auto;
    width: 200px;
}

/* Portfolio List */

.project-item {
    /*border: 1px solid black;*/
    list-style: none;
    text-align: center;
}

.project-item a {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
}

.project-item img, .project-item p, .project-item span {
    width: 300px;
}

.project-item img {
    box-shadow: 0 1px 2px 0px #ccc;
    height: 200px;
}

.project-item span {
    font-weight: normal;
}

.project-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    padding: 0;
}

@media (max-width: 1036px) {
    .project-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 1024px) {
    .figure-row {
        flex-flow: column nowrap;
    }
}

@media (max-width: 704px) {
    .project-list {
        grid-template-columns: 1fr;
    }
}